<%- include("header") -%>
<!-- Header Section-->
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <!-- Left image-->
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/images/ToDoList.png" alt="to do list" class="header-img" />
        </a>
    </div>
    <!-- Header Title, New List text box, and Dropdown of available lists -->
    <div class="flex-container">
      <div class="flex-card pb-3">
        <h1> <%= listTitle %> </h1>    
        <form action="/newList" method="post">
          <input type="text" name="newList" placeholder="New List" autocomplete="off" required>
          <button type="submit">+</button>
        </form>

        <form action="/list" method="post">
          <select id="ddListId" name="ddList">
            <% allLists.forEach((list) => {%>
              <option value="<%= list %>"><%= list %></option>
            <% }) %>
          </select>
          <button type="submit">Get</button>
        </form>

      </div>
    </div>
    <!-- Right image-->
    <div  class="col-md-3 text-end">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/images/ToDoList.png" alt="to do list" class="header-img remove-small" />
        </a>
    </div>
  </header>
</div>
<!-- Main body sections-->
<div class="flex-container">
  <div class="todo-container">   
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
    <% newListItems.forEach((item) => { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkBox" value="<%= item._id%>" onChange="this.form.submit()">
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="hiddenListName" value="<%= listTitle %>" />
      </form>
    <% }) %>
  </div>
</div>

<%- include("footer") -%>
